# misc
.DS_Store
.*.sw*
*tags

# testing
coverage
cypress/screenshots
cypress/videos

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
